@import '~@styles/variables/colors.module.scss';
@import '~@styles/variables/shared.module.scss';

.content {

}

.subTitle {

}

.description {
    font-size: 1.3rem;
}

.footer {
    margin-top: 3rem;
    display: flex;

    .button {
        margin-right: 0.5rem;
    }
}
