@import '~@styles/variables/colors.module.scss';
@import '~@styles/variables/shared.module.scss';

.content {
  display: flex;
  flex-direction: column;
  background: #ffffff;
}

.list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
  margin-bottom: 3rem;
}

.listOthers {
  grid-template-columns: 1fr;

  .variables {
    .col {
      width: auto;

      &:first-child {
        width: 10rem;
      }
    }

    .title, .text {
      font-size: 1.1rem;
    }
  }
}

.item {
  font-size: 2rem;
}

.variables {
  display: flex;
  align-items: center;

  .col {
    width: 50%;
    display: flex;
    align-items: center;
  }

  .title {
    font-size: 1.1rem;
  }

  .text {
    font-size: 1.4rem;
  }

  .color {
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
  }
}