@import '~@styles/variables/colors.scss';
@import '~@styles/variables/shared.scss';

.title {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.list {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(5, 10rem);
  grid-gap: 10px;

  .item {
    cursor: pointer;
    user-select: none;
    background-color: $blue_light_20;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $bdrs;
  }
}
