@import '~@styles/variables/colors.module.scss';
@import '~@styles/variables/shared.module.scss';

.title {
  font-size: 3rem;
  padding-top: 2rem;
  margin-bottom: 3rem;
  font-weight: 700;
  text-transform: uppercase;

  span {
    text-transform: none;
    color: $grey;
  }
}