@import '~@styles/variables/colors.module.scss';
@import '~@styles/variables/shared.module.scss';

.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin-bottom: 3rem;
}

.item {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.itemTitle {
    margin-bottom: 1rem;
}
