@import '~@styles/variables/colors.module.scss';
@import '~@styles/variables/shared.module.scss';

.content {
    display: flex;
    flex-direction: column;
}

.wrapper {
    max-height: 20rem;
    overflow: hidden;
    overflow-y: scroll;
}

.inner {

}
